
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: "alphabetized cassette tapes"; /*a name to be used later*/
    src: url("../files/alphabetized_cassette_tapes.ttf"); /*URL to font*/
}
/* ----------------------------------------------- */
/* LOGIN */
/* ----------------------------------------------- */



.container {
   
    position: relative;
    width: 100%;
    padding-top: 69.20%; /* 16:9 Aspect Ratio */
  
 }
 
 .back {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  
    align-items: center;
    color: white;

    background-image: url("../files/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
 
   
 }

 .lb{
position: absolute;
color: black;
top: 27%;
right: 16%;

width: 25%;
height: 60%;

transform: rotate(14.5deg);
font-family:"alphabetized cassette tapes",cursive;
color: gray;

 }

 .lb input{

    width: 100%;
    font-size:4vw;
    height:4vw;
    font-family: "alphabetized cassette tapes",cursive;
    background: transparent;
   margin-bottom: 1vw;
 }

 .lb .lbs{
    font-size:4vw;
    height:4vw;
    float: left;
    margin-bottom: 1vw;
 }

 .lb button{
    font-size:5vw;
    height:6vw;
   
    font-family: "alphabetized cassette tapes",cursive;
 }

.err{
    color: red;
    font-size:4vw;
    height:4vw;
    margin-bottom: 1vw;
    float: right;
    display: none;
}

