
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ----------------------------------------------- */
/* LOGIN */
/* ----------------------------------------------- */

.lbl_username{
    font-family: "alphabetized cassette tapes";
}


.container {
   
    position: relative;
    width: 100%;
    padding-top: 69.20%; /* 16:9 Aspect Ratio */
  
 }
 
 .back {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  
    align-items: center;
    color: white;

    background-image: url("/files/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
 
   
 }

 .lb{
position: absolute;
color: black;
top: 27%;
right: 12%;

width: 25%;
height: 15%;

transform: rotate(14.5deg);
font-family: "alphabetized cassette tapes";
color: gray;
font-size: 250%;
 }

 .lb input{

    width: 100%;
    font-size:7vw;
    height:7vw;
    font-family: "alphabetized cassette tapes";
    background: transparent;
   margin-bottom: 1vmin;
 }

 .lb button{

    
    font-size:7vw;
    height:8vw;
   
    font-family: "alphabetized cassette tapes";

 }
 .lb label{
    font-size:7vw;
    height:7vw;
    float: left;
    margin-bottom: 1vmin;
 }

 .sp{
    display: block;
    height:2.5vh;
    width: 100%;
    background-color: black;
 }